<%- layout("/layout/boilerplate") %>

<div class="row">
    <div class="col-8 offset-2" >
        <br><br>
<body>
    <h3>Create New Listings</h3>
    <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="Add A Catchy Title" class="form-control" required>
            <div class="valid-feedback">
                Title Looks good!
              </div>
              <div class="invalid-feedback">
                please enter your title
              </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">
                please enter your description
              </div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input type="file" name="listing[image]" class="form-control">
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price:</label>
                <input type="text" name="listing[price]" placeholder="1200" class="form-control" required>
                <div class="invalid-feedback">
                    please enter your price
                  </div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country:</label>
                <input type="text" name="listing[country]" , placeholder="India" class="form-control" required>
                <div class="invalid-feedback">
                    please enter your country
                  </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location:</label>
            <input name="listing[location]" placeholder="Jaipur, Rajasthan" type="text" class="form-control" required>
            <div class="invalid-feedback">
                enter your location
              </div>
        </div>
        <br><br>
        <button class="btn btn-dark add-btn">ADD</button>
        <br><br>
    </form>
</body>
</div>
</div>